<div class="container-fluid">
  <h2>Add Company</h2>
  <form [formGroup]="companyForm">
    {{companyForm.value | json}}
    <div class="form-group">
      <label>Name</label>
      <input formControlName="nameControl" 
      [class.is-invalid]="cForm.invalid && cForm.touched"
      type="text" class="form-control">
      <small [class.d-none]="companyForm.get('nameControl').valid">Please provide Company Name</small>
    </div>

    <div class="form-group">
      <label>Registration Number</label>
      <input formControlName="regNumberControl" type="text" class="form-control">
    </div>

    <div formGroupName="address" class="form-control"> 
      <div class="form-group">
        <label>Address</label>
        <input formControlName="addressControl" type="text" class="form-control">
     </div>
    </div>

    <div class="form-group">
    <button type="submit" class="btn btn-primary"> Add</button>
    <button type="submit" class="btn btn-primary" (click)="loadDataFromSetvalue()"> Load Data From SetValue</button>
    <button type="submit" class="btn btn-primary" (click)="loadDataFromPatch()"> Load Data From PatchValue</button>
    </div>

  </form>
</div>