<div class="container jumbotron">
  <aw-wizard>
    <aw-wizard-step stepTitle="Campaign Name">
      <div class="form-group">
        <label for="campaignName" class="display-6">Campaign Name</label>
        <input type="text" id="nameId" class="form-control display-1" [(ngModel)]="campaign.name">
      </div>
      <button type="button" awNextStep class="btn btn-primary"><i class="ti-control-forward"></i></button>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Condition" awOptionalStep>
      <label for="exampleInputEmail1">Select Condition</label>
      <br>
      <div class="form-gp">
        <select class="custom-select" [(ngModel)]="campaign.ruleNumber" (change)="changeInputType($event.target)">
          <option selected="selected">Open this select menu</option>
          <option *ngFor="let x of campaignRule" [ngValue]="x.id">{{x.name}}</option>
        </select>
      </div>
      <diV>
        <label for="exampleInputEmail1">Value</label>
        <br>
        <input type={{type}} id="exampleInputEmail1" class="form-control" [(ngModel)]="campaign.value">
      </diV>
      <br>
      <button type="button" awPreviousStep class="btn btn-primary"><i class="ti-control-backward"></i></button>
      <button type="button" awNextStep class="btn btn-primary"><i class="ti-control-forward"></i></button>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Mesaage">
      <div class="form-group">
        <label for="exampleInputEmail1">Message</label>
        <input type="email" id="exampleInputEmail1" class="form-control" [(ngModel)]="campaign.message">
      </div>
      <br>
      <button type="button" awPreviousStep class="btn btn-primary"><i class="ti-control-backward"></i></button>
      <button type="button" (click)="finishFunction()" class="btn btn-primary">Launch</button>
    </aw-wizard-step>
  </aw-wizard>
  <div class="form-group">
    <a class="btn btn-outline-dark ml-1" routerLink="/home/campaigns"><i class="fa fa-table"></i> View Campaigns</a>
  </div>
  <div>