<div class="card">
  <div class="card-body bg1">
    <div class="row">
      <h4 class="header-title text-white">Client Feadback</h4>
      <a aria-flowto="left" (click)="createFeedBack()"><i class="fa fa-plus-square"></i></a>
    </div>
    <div class="testimonial-carousel owl-carousel">
      <div class="tst-item" *ngFor="let item of feedBacks | paginate: { id:'second', itemsPerPage: 10, currentPage: page2 }">
        <div class="tstu-img">
          <img src="../../assets/images/team/team-author1.jpg" alt="author image">
        </div>
        <div class="tstu-content">
          <h4 class="tstu-name">{{item.name}}</h4>
          <span class="profsn">{{item.emailId}}</span>
          <p>{{item.message}}</p>
        </div>
      </div>
      <div class="has-text-centered">
          <pagination-controls (pageChange)="page2 = $event" id="second"></pagination-controls>
      </div>
    </div>
  </div>
</div>