<div>
  <div class="row" style="padding: 10px; background-color: coral">
    <div class="col-xl-4 col-ml-2 col-lg-6 mt-5 mb-2">
      <label style="color: aqua; font-size: x-large;">Report Type</label>
    </div>
    <div class="col-xl-4 col-ml-6 col-lg-6 mt-5 mb-2">
      <select name="CustomerID" #CustomerID="ngModel" [(ngModel)]="selectedReportId" class="form-control"
        (change)="changeItemStatus($event)">
        <option value="0">-Select-</option>
        <option *ngFor="let item of reportList" value="{{item.id}}">{{item.reportName}}</option>
      </select>
    </div>

    <div class="col-xl-4 col-ml-6 col-lg-6 mt-5 mb-2"><a (click)="loadReport()"><i class="fa fa-exchange"></i>
        Load</a></div>
  </div>
</div>
<router-outlet></router-outlet>