<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->

    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-s2">
        <div class="container">
      
                <form  [formGroup]="addressForm"  novalidate  (ngSubmit)="onSubmit"> 
                
                    <div class="login-form-body">
                        <label for="exampleInputName1">Address One</label>
                        <div class="form-gp">
                            <input type="text" id="addressId" name="address1" formControlName="adressLine1" >
                            <i class="ti-user"></i>
                        </div>

                        <label for="exampleInputName1">Address Second</label>
                        <div class="form-gp">
                            <input type="text" id="addressId1" name="address2" formControlName="addressLine1">
                            <i class="ti-user"></i>
                        </div>

                        <label for="exampleInputName1">City</label>
                        <div class="form-gp">
                            <input type="text" id="cityInput" name="city" formControlName="city">
                            <i class="ti-user"></i>
                        </div>

                        <label for="exampleInputName1">State</label>
                        <div class="form-gp">
                            <input type="text" id="stateId" name="state" formControlName="state">
                            <i class="ti-user"></i>
                        </div>

                        <label for="examplePincode">Pincode</label>
                        <div class="form-gp">
                            <input type="number" id="password-id"  name="pincode" formControlName="pincode">
                        </div>
                    </div>
                </form>
            
        </div>
    </div>
    <!-- login area end -->


</body>