<!doctype html>
<html class="no-js" lang="en">

<head>
   
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->

    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--100">
                <form  [formGroup]="userForm"    (ngSubmit)="onSubmit()" novalidate  > 
                    <div class="login-form-head">
                        <h4>Sign up</h4>
                    </div>
                    <div class="login-form-body">
                        <label for="exampleInputName1">User Name</label>
                        <div class="form-gp">
                            <input type="text" id="userNameId" name="userName" formControlName="userName">
                            <i class="ti-user"></i>
                        </div>

                        <label for="exampleInputName1">First Name</label>
                        <div class="form-gp">
                            <input type="text" id="firstNameId" name="firstName" formControlName="firstName">
                            <i class="ti-user"></i>
                        </div>

                        <label for="exampleInputName1">Last Name</label>
                        <div class="form-gp">
                            <input type="text" id="exampleInputName1" name="lastName" formControlName="lastName">
                            <i class="ti-user"></i>
                        </div>

                        <label for="exampleInputName1">Mobile Number</label>
                        <div class="form-gp">
                            <input type="text" id="exampleInputName1" name="mobileNumber" formControlName="mobileNumber">
                            <i class="ti-user"></i>
                        </div>

                        <div class="form-gp">
                         
                            <select class="custom-select" formControlName="userType">
                                <option *ngFor="let x of userTypes" [ngValue]="x.id" >{{x.name}}</option>
                            </select>
                        </div>
                      
                        <div class="form-group">
                        <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd"
                                 name="dp"  ngbDatepicker #d="ngbDatepicker" formControlName="dateOfBirth">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                          </div>
                        </div>
                      </div>

                        <div class="form-gp">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" id="password-id"  name="password" formControlName="password">
                            <i class="ti-lock"></i>
                        </div>
                        
                        <div formGroupName="address">
                                <label for="exampleInputName1">Address One</label>
                                <div class="form-gp">
                                    <input type="text" id="addressId" name="address1" formControlName="addressLine1">
                                    <i class="ti-user"></i>
                                </div>
        
                                <label for="exampleInputName1">Address Second</label>
                                <div class="form-gp">
                                    <input type="text" id="addressId1" name="address2" formControlName="addressLine2">
                                    <i class="ti-user"></i>
                                </div>
        
                                <label for="exampleInputName1">City</label>
                                <div class="form-gp">
                                    <input type="text" id="cityInput" name="city" formControlName="city">
                                    <i class="ti-user"></i>
                                </div>
        
                                <label for="exampleInputName1">State</label>
                                <div class="form-gp">
                                    <input type="text" id="stateId" name="state" formControlName="state">
                                    <i class="ti-user"></i>
                                </div>
        
                                <label for="examplePincode">Pincode</label>
                                <div class="form-gp">
                                    <input type="number" id="password-id"  name="pincode" formControlName="pincode">
                                </div>
                            </div>

                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit" (click)="onSubmit()" >Submit <i class="ti-arrow-right"></i></button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Don't have an account? <a  routerLink="/login">Sign in</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->


</body>

</html>