<div class="row">
  <div class="col-xl-4 col-ml-2 col-lg-6 mt-5 mb-2">
    <label>Social MediaType</label>
  </div>
  <div class="col-xl-4 col-ml-6 col-lg-6 mt-5 mb-2">
    <select name="CustomerID" #CustomerID="ngModel" [(ngModel)]="selectedSocialId" class="form-control" (change)="changeItemStatus($event)">
      <option value="0">-Select-</option>
      <option *ngFor="let item of socialMediaList" value="{{item.id}}">{{item.name}}</option>
    </select>
  </div>
 
  <div class="col-xl-4 col-ml-6 col-lg-6 mt-5 mb-2"><a (click)="connectFacebook()"><i class="fa fa-exchange"></i> exchange</a></div>

</div>
<table class="table table-hover">
  <thead class="thead-light">
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of postList">
      <th>{{item.id}}</th>
      <td>{{item.name}}</td>
      <td> <img src="{{item.picture}}" /></td>
      <td>
        <a class=" btn text-danger" (click)="onPostView(item.id,item.name)"><i
          class="fa fa-bar-chart"></i></a>
      </td>
    </tr>
  </tbody>
</table>