<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="index.html"><img src="../../assets/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li class="active">
                        <a href="javascript:void(0)" aria-expanded="true" (click)="colButtonDashboard()"><i
                                class="ti-dashboard"></i><span>dashboard</span></a>
                        <ul [ngClass]="colDashboard ?'collapse in':'collapse'">
                            <li class="active"><a routerLink="/home/reportHome">Ecommerce dashboard</a></li>
                            <li class="active"><a routerLink="/home/seoDashboard">SEO dashboard</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true" (click)="colButtonProduct()"><i
                                class="ti-pie-chart"></i><span>Product</span></a>
                        <ul [ngClass]="colroduct ?'collapse in':'collapse'">
                            <li><a routerLink="/home/showProducts">Product Stock</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true" (click)="colButtonSell()"><i
                                class="ti-pie-chart"></i><span>Sell</span></a>
                        <ul [ngClass]="colSell ?'collapse in':'collapse'">
                            <li><a routerLink="/home/orders">Sell Product</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true" (click)="collaseCustomerButton()"><i
                                class="ti-pie-chart"></i><span>Customer</span></a>
                        <ul [ngClass]="colCustomer ?'collapse in':'collapse'">
                            <li><a routerLink="/home/customers">Customers</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true" (click)="collaseCampButton()"><i
                                class="ti-pie-chart"></i><span>Campaigns</span></a>
                        <ul [ngClass]="colCamp ?'collapse in':'collapse'">
                            <li><a routerLink="/home/campaigns">Campaigns</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true" (click)="collaseRepuButton()"><i
                                class="ti-pie-chart"></i><span>Reputations</span></a>
                        <ul [ngClass]="colRepu ?'collapse in':'collapse'">
                            <li><a routerLink="/home/reputations">Reputation</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true" (click)="collaseRepoButton()"><i
                                class="ti-pie-chart"></i><span>Reports</span></a>
                        <ul [ngClass]="colRepo ?'collapse in':'collapse'">
                            <li><a routerLink="/home/report">Reports</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true" (click)="collaseStockButton()"><i
                                class="ti-pie-chart"></i><span>Purchase</span></a>
                        <ul [ngClass]="colStock ?'collapse in':'collapse'">
                            <li><a routerLink="/home/stocks">Purchase</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true" (click)="collaseInvoiceButton()"><i
                                class="ti-pie-chart"></i><span>Invoices</span></a>
                        <ul [ngClass]="colInvoices ?'collapse in':'collapse'">
                            <li><a routerLink="/home/invoices">Invoices</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true" (click)="collaseVendorsButton()"><i
                                class="ti-pie-chart"></i><span>Vendors</span></a>
                        <ul [ngClass]="colVendors ?'collapse in':'collapse'">
                            <li><a routerLink="/home/vendors">Vendors</a></li>
                        </ul>
                    </li>
                    <li>
                            <a href="javascript:void(0)" aria-expanded="true" (click)="collaseAuditlogButton()"><i
                                    class="ti-pie-chart"></i><span>Audit Log</span></a>
                            <ul [ngClass]="colAudit ?'collapse in':'collapse'">
                                <li><a routerLink="/home/auditlog">Audit Log</a></li>
                            </ul>
                        </li>
                </ul>
            </nav>
        </div>
    </div>
</div>