<div class="main-content-inner" id="invoiceDownload">
  <div class="row">
    <div class="col-lg-12 mt-5">
      <div class="card">
        <div class="card-body">
          <div class="invoice-area">
            <div class="invoice-head">
              <div class="row">
                <div class="iv-left col-3">
                  <span>INVOICE</span>
                </div>
                <div class="iv-center col-3">
                  <span>Earning Eagle</span>
                </div>
                <div class="iv-right col-6 text-md-right">
                  <span>Bill ID# {{service.formData.orderID}}</span>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="invoice-address">
                  <h3>invoiced to</h3>
                  <h5>{{service.formData.customerName}}</h5>
                </div>
              </div>
              <div class="col-md-6 text-md-left" style="display:flex;padding-left: 30%; ">
                <div class="iv-left col-3" style="font-size: 20px">Date:</div>
                <div style="font-size: 20px">{{service.formData.orderDate}}</div>
              </div>
            </div>
            <div class="invoice-table table-responsive mt-5">
              <table class="table table-bordered table-hover text-right">
                <thead>
                  <tr class="text-capitalize">
                    <th class="text-center" style="width: 10%;">id</th>
                    <th class="text-left" style="width: 20%; min-width: 130px;">description</th>
                    <th>qty</th>
                    <th style="min-width: 100px">Unit Cost</th>
                    <th>Tax</th>
                    <th>Discount</th>
                    <th>total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of service.orderItems;let i=index;">
                    <td class="text-center">{{item.ItemID}}</td>
                    <td class="text-left">{{item.ItemName}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.Price}}</td>
                    <td>{{item.Tax}}</td>
                    <td>{{item.Discount}}</td>
                    <td>{{item.Total}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6">Discount :</td>
                    <td>{{service.formData.totalDiscount}}</td>
                  </tr>
                  <tr>
                    <td>Bank Details</td>
                    <td colspan="5">Tax :</td>
                    <td>{{service.formData.totalTax}}</td>
                  </tr>
                  <tr>
                    <td>Account Number:</td>
                    <td>52913622</td>
                    <td colspan="4">Extra Charge :</td>
                    <td>{{service.formData.extraCharge}}</td>
                  </tr>
                  <tr>
                    <td>Account Name</td>
                    <td>Dadasaheb Kambale</td>
                    <td colspan="4">Final total :</td>
                    <td>{{service.formData.gTotal}}</td>
                  </tr>
                  <tr>
                    <td>IFSC Code</td>
                    <td>HDFC0002829</td>
                    <td colspan="4">Paid Amount :</td>
                    <td>{{service.formData.amountPaid}}</td>
                  </tr>
                  <tr>
                    <td colspan="6">Opening Balance :</td>
                    <td>{{service.formData.balanceAmount}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div style="display: flex;float:right;">
  <div class="invoice-buttons text-right" style="padding-right: 10px; ">
    <a class="invoice-btn" (click)="navigateToPage(service.formData.orderType)">print invoice</a>
  </div>
  <div class="invoice-buttons text-right">
    <a class="invoice-btn" (click)="downloadInvoice(service.formData.customerName)">Download Invoice</a>
  </div>
</div>