<div style="padding: 10px">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div style="border: solid grey;margin: 5px;border-radius: 10px; display: flex">
                <div class="form-gp" style="margin-top: 25px; width: 80%">
                    <input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText"
                        placeholder="Search By Name">
                </div>
                <div  style="width: 10%; margin-top: 25px;">
                    <a routerLink="/home/productAdd" style="font-size: large;"><i
                            class="fa fa-plus-square"></i> Create
                    </a>
                </div>
                <div style="width: 10%; margin-top: 25px;">
                    <a style="font-size: large; " (click)="refreshList()"><i
                            class="fa fa-refresh fa-lg"></i>Refresh</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <thead class="text-uppercase bg-success">
            <tr class="text-white">
                <th scope="col" style="width:10px">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Sell Price</th>
                <th scope="col">quantity</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let x of (prods | searchByFields: searchText)| paginate: { id:'second', itemsPerPage: 3, currentPage: page2 } ">
                <th scope="row">{{x.id}}</th>
                <td>{{x.name}}</td>
                <td>{{x.buyPrice}}</td>
                <td>{{x.sellPrice}}</td>
                <td>{{x.quantity}}</td>
                <td>
                    <a class="btn text-danger" (click)="onProductDelete(x.id)"><i class="fa fa-trash fa-lg"></i></a>
                    <a class="btn text-danger" (click)="onCustomerEdit(x.id,x.name)"><i
                            class="fa fa-edit fa-lg"></i></a>
                </td>

            </tr>
            <tr>
                <td colspan="6" style="text-align: center">
                    <div class="has-text-centered">
                        <pagination-controls (pageChange)="page2 = $event" id="second"></pagination-controls>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>