<div class="col-12 mt-5">
  <div class="card">
    <div class="card-body">
      <h4 class="header-title">Team Member Information</h4>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [(ngModel)]="member.name" id="exampleInputName" aria-describedby="emailHelp"
          placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" [(ngModel)]="member.emailId" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your
          email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="forContactNumber">Contact Number</label>
        <input type="number" class="form-control" id="exampleInputContact" [(ngModel)]="member.contactNumber"
          placeholder="Enter Contact Number">
      </div>
      <div class="form-group">
        <label for="forContactNumber">Designation</label>
        <input type="text" class="form-control" id="designationId" [(ngModel)]="member.designation" placeholder="Enter Designation">
      </div>

      <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4" (click)="saveMember()">Submit</button>
      <button type="button" class="btn btn-primary mt-4 pr-4 pl-4" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
    </div>
  </div>