<div><a class="btn btn-outline-dark ml-1" routerLink="/home/stocks"><i class="fa fa-table"></i> View Orders</a></div>
<div style="padding: 10px">
<form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)">
  <input type="hidden"  name="OrderID" #OrderID="ngModel" [(ngModel)]="service.formData.orderID">
  <input type="hidden"  name="orderItems" #orderItems="ngModel" [(ngModel)]="service.formData.orderItems">
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <label for="orderDate">Order Date</label>
          <input name="orderDate" [matDatepicker]="basicDatepicker" [(ngModel)]="service.formData.orderDate" class="form-control" style="height: 35px">
          <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
          <mat-datepicker name="datepicker" #basicDatepicker [(ngModel)]="service.formData.orderDate" ngDefaultControl
            (selectedChanged)="onDate($event)"></mat-datepicker>
      </div>
      <div class="form-group">
        <label>Customer</label>
        <select name="CustomerID" #CustomerID="ngModel" [(ngModel)]="service.formData.customerID" class="form-control"
        [class.is-invalid]="!isValid && service.formData.CustomerID==0">
          <option value="0">-Select-</option>
          <option *ngFor="let item of customerList" value="{{item.id}}">{{item.name}}</option>
        </select>
        <a class="btn text-danger" (click)="refreshCustomer()"><i class="fa fa-refresh fa-lg"></i></a>
        <a class="btn text-danger" (click)="onCreateNewCustomer()"><i class="fa fa-plus fa-lg"></i></a>
      </div>
      <div class="form-group">
          <label>Amount Paid</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">₹</div>
            </div>
            <input name="AmountPaid" (change)="updateGrandTotal()" #OrderNo="ngModel" [(ngModel)]="service.formData.amountPaid" class="form-control" >
          </div>
      </div>
      <div class="form-group">
        <label>Extra Charges</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">₹</div>
          </div>
          <input name="ExtraCharge" (change)="updateGrandTotal()"  #ExtraCharge="ngModel" [(ngModel)]="service.formData.extraCharge" class="form-control" >
        </div>
    </div>
      
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Payment Method</label>
        <select name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.pmethod" class="form-control">
          <option value="">-Select-</option>
          <option value="Cash">Cash</option>
          <option value="Card">Card</option>
        </select>
      </div>
      <div class="form-group">
          <label>Total Tax</label>
  
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">₹</div>
            </div>
            <input name="TotalTax" #GTotal="ngModel" [(ngModel)]="service.formData.totalTax" class="form-control" readonly>
          </div>
      </div>
      <div class="form-group">
          <label>Total Discount</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">₹</div>
            </div>
            <input name="totalDiscount" #OrderNo="ngModel" [(ngModel)]="service.formData.totalDiscount" class="form-control" readonly>
          </div>
      </div>
      <div class="form-group">
        <label>Grand Total</label>

        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">₹</div>
          </div>
          <input name="GTotal" #GTotal="ngModel" [(ngModel)]="service.formData.gTotal" class="form-control" readonly>
        </div>
      </div>
      <div class="form-group">
        <label>Remaining Amount</label>

        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">₹</div>
          </div>
          <input name="balanceAmount" #balanceAmount="ngModel" [(ngModel)]="service.formData.balanceAmount" class="form-control" readonly>
        </div>
      </div>
    </div>
  </div>
  <!-- order items table-->
  <table class="table table-borderless">
    <thead class="thead-light">
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Tax</th>
      <th>Discount</th>
      <th>Total</th>
      <th>
        <a class="btn btn-sm btn-success text-white" (click)="AddOrEditOrderItem(null,service.formData.orderNo)"><i class="fa fa-plus"></i> Add Item</a>
      </th>
    </thead>
    <tbody>
      <tr *ngIf="service.orderItems.length==0" [class.text-danger]="!isValid && service.orderItems.length==0">
        <td class="font-italic text-center" colspan="5">
          No item selected for this order.
        </td>
      </tr>

      <tr *ngFor="let item of service.orderItems;let i=index;">
        <td>{{item.ItemName}}</td>
        <td>{{item.Price}}</td>
        <td>{{item.Quantity}}</td>
        <td>{{item.Tax}}</td>
        <td>{{item.Discount}}</td>
        <td>{{item.Total}}</td>
        <td>
          <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i,service.formData.orderNo)"><i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.orderItemID,i)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button type="submit" class="btn btn-dark" ><i class="fa fa-database"></i> Submit</button>
    
  </div>
</form>
</div>