<div class="card mt-5">
    <div class="card-body">
        <h4 class="header-title">Todays Order List</h4>
        <div class="table-responsive">
            <table class="dbkit-table">
                <tbody>
                    <tr>
                        <td>Order No</td>
                        <td>Customer Id</td>
                        <td>Payment Method</td>
                        <td>Client Number</td>
                        <td>Grand Total</td>
                        <td>View Order</td>
                    </tr>
                    <tr *ngFor="let item of todaysOrdersList | paginate: { id:'second', itemsPerPage: 10, currentPage: page2 }">
                        <td style="text-align:justify">{{item.orderID}}</td>
                        <td style="text-align:justify">{{item.customerID}}</td>
                        <td style="text-align:justify">{{item.pmethod}}</td>
                        <td style="text-align:justify">{{item.gTotal}}</td>
                        <td style="text-align:justify">{{item.orderID}}</td>
                        <td>
                            <a class="btn text-info" (click)="displayTodaysOrderList(item.orderID)"><i class="fa fa-info-circle"></i></a>
                        </td>
                    </tr>
                    <tr>
                            <td colspan="6" style="text-align: center">
                                <div class="has-text-centered">
                                    <pagination-controls (pageChange)="page2 = $event" id="second"></pagination-controls>
                                </div>
                            </td>
                        </tr>
                    

                </tbody>

            </table>
        </div>

    </div>
</div>