<div>
  <h1>
    Todays Order List
  </h1>
</div>
<table class="table table-hover">
  <thead class="thead-light">
    <th>CustmorId</th>
    <th>EmailId</th>
    <th>Total</th>
    <th>OrderNumber</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of orderList">
      <th>{{item.custmorId}}</th>
      <td>{{item.emailId}}</td>
      <td> {{item.total}}</td>
      <td>
        {{item.orderNumber}}
      </td>
    </tr>
  </tbody>
</table>