<div >
  <div style="float:left">
      <a class="btn btn-outline-dark ml-1" routerLink="/home/showProducts"><i class="fa fa-table"></i> View Products</a>
    </div>
</div>
  <div class="container">
    <div >
        <div class="login-form-head">
          <h4>Add product</h4>
        </div>
        <div class="login-form-body">
          <label for="example-text-input" class="col-form-label">Name</label>
          <div class="form-gp">
            <input type="text"  id="exampleInputName1" 
              class="form-control" name="name" [(ngModel)]="product.name">
          </div>

            <label for="example-text-input" class="col-form-label">Description</label>
            <div class="form-gp">
              <input type="text"  id="description" 
                class="form-control" name="description" [(ngModel)]="product.description">
            </div>

            
            <div class="form-gp">
              <label for="example-text-input" class="col-form-label">Stock Alert</label>
               <input type="checkbox" id="stockAlert" class="form-control" name="stockAlert" [(ngModel)]="product.stockAlert"/>
            </div>
            

          <label for="example-number-input" class="col-form-label">Unit</label>
          <div class="form-gp">
              <select class="custom-select" #UnitID="ngModel" [(ngModel)]="product.unitId" (change)="changeInputType($event.target)">
                <option selected="selected">Select Unit</option>
                <option *ngFor="let x of unitTypes" [ngValue]="x.id">{{x.name}}</option>
              </select>
            </div>

            <label for="example-number-input" class="col-form-label">Select Vendor</label>
          <div class="form-gp">
              <select class="custom-select" #UnitID="ngModel" [(ngModel)]="product.vendorId" (change)="changeInputType($event.target)">
                <option selected="selected">Select Vendor</option>
                <option *ngFor="let x of vendors" [ngValue]="x.id">{{x.name}}</option>
              </select>
            </div>

          <label for="example-number-input" class="col-form-label">Quantity</label>
          <div class="form-gp">
            <input class="form-control"  
            type="number" value="1" id="example-number-input" name="quantity" [(ngModel)]="product.quantity">
          </div>
          

          <label for="example-number-input" class="col-form-label">Buy Price</label>
          <div class="form-gp">
            <input class="form-control" type="number" value="1" id="example-number-input" name="buyPrice" [(ngModel)]="product.buyPrice">
          </div>

          <label class="col-form-label">Sell Price</label>
          <div class="form-gp">
            <input class="form-control"
            type="number" value="1" id="example-number-input" name="sellPrice" [(ngModel)]="product.sellPrice">
          </div>

          <label class="col-form-label">Product Unique Number</label>
          <div class="form-gp">
            <input class="form-control" type="number" value="1" id="example-number-input" name="uniqueNumber" [(ngModel)]="product.uniqueNumber">
          </div>

          <label class="col-form-label">State GST</label>
          <div class="form-gp">
            <input class="form-control" type="number" value="1" id="example-number-input" name="stateGST" [(ngModel)]="product.stateGST">
          </div>

          <label class="col-form-label">Govt GST</label>
          <div class="form-gp">
            <input class="form-control" type="number" value="1" id="example-number-input" name="govtGST" [(ngModel)]="product.govtGST">
          </div>
          <div class="submit-btn-area">
            <button id="form_submit" type="submit" (click)="onSubmit()">Submit <i class="ti-arrow-right"></i></button>
          </div>

        </div>

    </div>
    
</div>