<div class="login-area login-s2">
        <div class="container">
          <div class="login-box ptb--100">
            <form #productForm="ngForm" (ngSubmit)="onSubmit" novalidate *ngIf="!submited">
              <div class="login-form-head">
                <h4>Add product1</h4>
              </div>
              <div class="login-form-body">
                <label for="example-text-input" class="col-form-label">Name</label>
                <div class="form-gp">
                  <input type="text" required #name="ngModel" id="exampleInputName1" [class.is-invalid]="name.invalid && name.touched"
                    class="form-control" name="productName" [(ngModel)]="product.name">
                  <small class="text-danger"[class.d-none]="name.valid || name.untouched">Name is required</small>
                </div>

                <label for="example-text-input" class="col-form-label">Description</label>
                <div class="form-gp">
                  <input type="text" required #description="ngModel" id="description" [class.is-invalid]="name.invalid && name.touched"
                    class="form-control" name="productDescription" [(ngModel)]="product.description">
                </div>
      
                <label for="example-number-input" class="col-form-label">Quantity</label>
                <div class="form-gp">
                  <input class="form-control" required #quan="ngModel" [class.is-invalid]="quan.invalid && name.touched"
                  type="number" value="1" id="example-number-input" name="quantity" [(ngModel)]="product.quantity">
                  <small class="text-danger"[class.d-none]="quan.valid || quan.untouched">Please enter quantity</small>
                </div>
      
                <label for="example-number-input" class="col-form-label">Buy Price</label>
                <div class="form-gp">
                  <input class="form-control" type="number" value="1" id="example-number-input" name="buyPrice" [(ngModel)]="product.buyPrice">
                </div>
                
      
                <label class="col-form-label">Enter Sell Price</label>
                <div class="form-gp">
                  <input class="form-control" required #sellPriceModel="ngModel" [class.is-invalid]="sellPriceModel.invalid && sellPriceModel.touched"
                  type="number" value="1" id="example-number-input" name="sellPrice" [(ngModel)]="product.sellPrice">
                  <div *ngIf="sellPriceModel.errors &&(sellPriceModel.invalid|| sellPriceModel.touched)">
                    <small class="text-danger" *ngIf="sellPriceModel.errors.required">Please enter Sell Price</small>
                  </div>
                </div>
      
                <label class="col-form-label"> State GST</label>
                <div class="form-gp">
                  <input class="form-control" required #stateGSTModel="ngModel" [class.is-invalid]="stateGSTModel.invalid && stateGSTModel.touched"
                  type="number" value="1" id="example-number-input" name="statGST" [(ngModel)]="product.sellPrice">
                  <div *ngIf="stateGSTModel.errors &&(stateGSTModel.invalid|| stateGSTModel.touched)">
                    <small class="text-danger" *ngIf="stateGSTModel.errors.required">Please enter State GST</small>
                  </div>
                </div>
                <label class="col-form-label">Govt GST</label>
                <div class="form-gp">
                  <input class="form-control" required #govtGSTModel="ngModel" [class.is-invalid]="govtGSTModel.invalid && govtGSTModel.touched"
                  type="number" value="1" id="example-number-input" name="govtGST" [(ngModel)]="product.sellPrice">
                  <div *ngIf="govtGSTModel.errors &&(govtGSTModel.invalid|| govtGSTModel.touched)">
                    <small class="text-danger" *ngIf="govtGSTModel.errors.required">Please enter Sell Price</small>
                  </div>
                </div>

                <label class="col-form-label">Company</label>
                <div class="form-gp">
                  <select class="custom-select"  >
                    <option selected="selected">Open this select menu</option>
                    <option *ngFor="let x of companies">{{x}}</option>
                  </select>
                </div>
                <div class="submit-btn-area">
                  <button id="form_submit"  [disabled]="productForm.form.invalid" (click)="onSubmit(productForm)" type="submit">Submit <i class="ti-arrow-right"></i></button>
                </div>
      
              </div>
            </form>
          </div>
        </div>
      </div>