<div>
  <div class="container">
          <div class="div.dataTables_wrapper">
          <form [formGroup]="feedbackForm"  (ngSubmit)="onSubmit()" novalidate >
          <br style="clear:both">
          <h3 style="margin-bottom: 25px; text-align: center;">Feed Back</h3>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" id="name" name="name" formControlName="name" required>
          </div>
          <div class="form-group" >
            <input type="text" class="form-control" placeholder="Email Id" id="email" name="email" formControlName="emailId" required>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" placeholder="Mobile" id="mobile" name="mobile" formControlName="mobileNumber" required>
          </div>
          <div class="form-group">
            <span>Message</span>
            <textarea class="form-control"  type="textarea" id="message" formControlName="message" maxlength="140" rows="7"></textarea>
            <span class="help-block">
              <p id="characterLeft" class="help-block ">You have reached the limit</p>
            </span>
          </div>
          <div class="row">
              <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right" >Submit Form</button>
              <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
          </div>
          </form>
      </div>
    </div>
  </div>
