<table class="table table-hover">
    <thead class="thead-light">
      <th>Id</th>
      <th>Name</th>
      <th>Message</th>
      <th>
        <a class="btn btn-outline-success" routerLink="/home/campaign"><i class="fa fa-plus-square"></i> Create New</a>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let item of campaignsList">
        <th (click)="openForEdit(item.id)">{{item.id}}</th>
        <td (click)="openForEdit(item.id)">{{item.name}}</td>
        <td (click)="openForEdit(item.id)">{{item.message}}</td>
        <td>
            <a class="btn text-danger" (click)="onCampaignDelete(item.id)"><i class="fa fa-trash fa-lg"></i></a>
            <a class="btn text-danger" (click)="onCampaignLunch(item.id,item.name)"><i class="fa fa-play fa-lg"></i></a>
            <a class="btn text-danger" (click)="onCampaignEdit(item.id,item.name)"><i class="fa fa-edit fa-lg"></i></a>
        </td>
      </tr>
    </tbody>
  </table>