<div style="padding: 10px">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div style="border: solid grey;margin: 5px;border-radius: 10px; display: flex">
                <div class="form-gp" style="margin-top: 25px; width: 80%">
                    <input type="text" id="searchTextId" [(ngModel)]="searchText" style="    padding-left: 10px;padding-right: 10px;" name="searchText"
                        placeholder="Search By Name">
                </div>
                <div  style="width: 10%; margin-top: 25px;">
                    <a routerLink="/home/stock" style="font-size: large;"><i
                            class="fa fa-plus-square"></i> Create
                    </a>
                </div>
                <div style="width: 10%; margin-top: 25px;">
                    <a style="font-size: large; " (click)="refreshList()"><i
                            class="fa fa-refresh fa-lg"></i>Refresh</a>
                </div>
            </div>
        </div>
    </div>
  <table class="table table-hover">
    <thead class="thead-light">
      <th>#Order No.</th>
      <th>Customer</th>
      <th>P. Method</th>
      <th>G. Total</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of (orderList | stockSearch: searchText)| paginate: { id:'second', itemsPerPage: 10, currentPage: page2 }">
        <th (click)="openForEdit(item.orderID)">{{item.orderID}}</th>
        <td (click)="openForEdit(item.orderID)">{{item.customerName}}</td>
        <td (click)="openForEdit(item.orderID)">{{item.pmethod}}</td>
        <td (click)="openForEdit(item.orderID)">{{item.gTotal}}</td>
        <td>
          <a class="btn text-danger" (click)="onOrderDelete(item.orderID)"><i class="fa fa-trash fa-lg"></i></a>
        </td>
      </tr>
      <tr>
          <td colspan="6" style="text-align: right">
              <div class="has-text-centered">
                  <pagination-controls (pageChange)="page2 = $event" id="second"></pagination-controls>
              </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>