<div >
  <div class="row">
    <div class="col-md-6 mt-5 mb-3">
      <div class="card">
        <div class="seo-fact sbg1">
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="seofct-icon"><i class="ti-thumb-up"></i> Likes</div>
            <h2>2,315</h2>
          </div>
          <canvas id="seolinechart1" height="50"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-md-5 mb-3">
      <div class="card">
        <div class="seo-fact sbg2">
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div class="seofct-icon"><i class="ti-share"></i> Share</div>
            <h2>3,984</h2>
          </div>
          <canvas id="seolinechart2" height="50"></canvas>
        </div>
      </div>
    </div>


  </div>
  <table class="table table-hover">
      <thead class="thead-light">
        <th>Message</th>
        <th>From</th>
        <th>Date</th>
        <th><a class="btn btn-outline-dark ml-1" routerLink="/home/reputations"><i class="fa fa-table"></i> View Posts</a></th>
      </thead>
      <tbody>
        <tr *ngFor="let item of commentList">
          <th>{{item.message}}</th>
          <td>{{item.from.name}}</td>
          <td> {{item.createdTime}}</td>
        </tr>
      </tbody>
    </table>
</div>