  <div class="card">
      <div class="card-body">
          <div class="d-sm-flex flex-wrap justify-content-between mb-4 align-items-center">
              <h4 class="header-title mb-0">Team Member</h4>
              <form class="team-search">
                  <input type="text" name="search" placeholder="Search Here">
              </form>
              <a class="btn btn-outline-success"  (click)="createMember()"><i class="fa fa-plus-square"></i></a>
          </div>
          <div class="member-box" *ngFor="let item of members">
              <div class="s-member">
                  <div class="media align-items-center">
                      <img src="../../assets/images/team/team-author1.jpg" class="d-block ui-w-30 rounded-circle" alt="">
                      <div class="media-body ml-5">
                          <p>{{item.name}}</p><span>{{item.designation}}</span>
                      </div>
                      <div class="tm-social">
                          <a href="#">{{item.contactNumber}}<i class="fa fa-phone"></i></a>
                          <!-- <a href="#">{{item.emailId}}<i class="fa fa-envelope"></i></a> -->
                      </div>
                  </div>
              </div>
             
          </div>
      </div>
</div>