<table class="table table-borderless">
  <thead class="thead-light">
    <th>Item Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
   
  </thead>
  <tbody>
   

    <tr *ngFor="let item of orderItems;let i=index;">
      <td>{{item.ItemName}}</td>
      <td>{{item.Price}}</td>
      <td>{{item.Quantity}}</td>
      <td>{{item.Total}}</td>
      <td>
      </td>
    </tr>
    <tr>
      <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
    </tr>
  </tbody>
</table>