<div style="padding: 10px">
  <div>
    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-body">
          <h4 class="header-title">Customer Information</h4>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" [(ngModel)]="customer.name" id="exampleInputName"
              aria-describedby="emailHelp" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" [(ngModel)]="customer.emailId" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your
              email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="forContactNumber">Contact Number</label>
            <input type="number" class="form-control" id="exampleInputContact" [(ngModel)]="customer.contactNumber"
              placeholder="Enter Contact Number">
          </div>
          <div class="form-group">
            <label for="dateOfBirth">Birth Day</label>
            <input [matDatepicker]="basicDatepicker" [(ngModel)]="customer.dateOfBirth" class="form-control" style="height: 35px">
            <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #basicDatepicker [(ngModel)]="customer.dateOfBirth" ngDefaultControl
              (selectedChanged)="onDate($event)"></mat-datepicker>
          </div>
          <button type="submit" class="btn btn-dark" (click)="saveCustomer()"><i class="fa fa-database"></i> Submit</button>
          <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
        </div>
      </div>
    </div>
  </div>