<div class="signup__container">
  <div class="container__child signup__thumbnail">
    <div class="thumbnail__logo">
    </div>
    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome to Earning Eagle.</h1>
      <h2 class="heading--secondary">Are you ready to join the Us?</h2>
    </div>
    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && user.email.errors }" />
            <div *ngIf="submitted && user.email.errors" class="invalid-feedback">
                <div *ngIf="user.email.errors.required">Email is required</div>
                <div *ngIf="user.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && user.password.errors }" />
            <div *ngIf="submitted && user.password.errors" class="invalid-feedback">
                <div *ngIf="user.password.errors.required">Password is required</div>
                <div *ngIf="user.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group" style="display:flex">
          <div style="padding :10px">
            <button [disabled]="loading" class="btn btn--form" (ngSubmit)="onSubmit()">Login</button>
          </div>
          <div style="padding :10px">
            <button [disabled]="loading" class="btn btn--form">Register</button>
          </div>
        </div>
    </form>
  </div>
</div>