
<form #f="ngForm" (ngSubmit)="onClick(f.value)">
OneWay:<input name="firstName" ngModel>
<br>
TwoWay
<input name="lastName" ngModel>
{{twoWay}}
<button type="submit">Click Me</button>
</form>
{{f.value}}