<div class="col-xl-8 col-lg-7 col-md-12 mt-5">
  <div class="card">
      <div class="card-body">
          <div class="d-flex justify-content-between mb-4">
              <h4 class="header-title mb-0">Product Slod</h4>
              <select class="custome-select border-0 pr-3">
                  <option selected="">Today</option>
                  <option value="0">Last 7 Days</option>
              </select>
          </div>
          <div class="table-responsive">
              <table class="dbkit-table">
                  <tbody>
                      <tr class="heading-td">
                          <td>Product Name</td>
                          <td>Revenue</td>
                          <td>Sold</td>
                          <td>Discount</td>
                      </tr>
                      <tr>
                          <td>Farhin s</td>
                          <td>$56</td>
                          <td>$160</td>
                          <td>$20</td>
                      </tr>
                      <tr>
                          <td>Ladis Sunglass</td>
                          <td>$26</td>
                          <td>$500</td>
                          <td>$20</td>
                      </tr>
                      <tr>
                          <td>Ladis Sunglass</td>
                          <td>$26</td>
                          <td>$500</td>
                          <td>$20</td>
                      </tr>
                      <tr>
                          <td>Ladis Sunglass</td>
                          <td>$56</td>
                          <td>$250</td>
                          <td>$10</td>
                      </tr>
                      <tr>
                          <td>Ladis Sunglass</td>
                          <td>$56</td>
                          <td>$125</td>
                          <td>$50</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="pagination_area pull-right mt-5">
              <ul>
                  <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</div>