<h4 class="dispaly-4">Order Food Item</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden"  name="OrderItemID" #OrderItemID="ngModel" [(ngModel)]="formData.OrderItemID">
    <input type="hidden"  name="OrderID" #OrderID="ngModel" [(ngModel)]="formData.OrderID">
  <input type="hidden"  name="ItemName" #ItemName="ngModel" [(ngModel)]="formData.ItemName">
  
  <div class="form-group">
      <label>Food Item</label>
      <select name="ItemID" #ItemID="ngModel" [(ngModel)]="formData.ItemID" class="form-control" (change)="updateProductPrice($event.target)"
      [class.is-invalid]="!isValid && formData.ItemID==0">
        <option value="0">-Select-</option>
        <option *ngFor="let product of productList" value="{{product.id}}">{{product.name}}</option>
      </select>
    </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input name="Price" #Price="ngModel" [(ngModel)]="formData.Price" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Quantity</label>
      <input name="Quantity" #Quantity="ngModel" [(ngModel)]="formData.Quantity" class="form-control"
      (keyup)="updateTotal()" [class.is-invalid]="!isValid && formData.quantity==0">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Tax</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input name="Tax" #Tax="ngModel" [(ngModel)]="formData.Tax" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Discount</label>
      <input name="Discount" #Discount="ngModel" [(ngModel)]="formData.Discount" class="form-control"
      (keyup)="updateTotal()" [class.is-invalid]="!isValid">
    </div>
  </div>
  <div class="form-group">
    <label>Total</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">$</div>
      </div>
      <input name="Total" #Total="ngModel" [(ngModel)]="formData.Total" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
  </div>
</form>