<app-product-chart></app-product-chart>
<div class="main-content-inner">
  <!-- sales report area start -->
  <div class="sales-report-area sales-style-two">
      <div class="row">
          <div class="col-xl-3 col-ml-3 col-md-6 mt-5">
              <div class="single-report">
                  <div class="s-sale-inner pt--30 mb-3">
                      <div class="s-report-title d-flex justify-content-between">
                          <h4 class="header-title mb-0">Product Sold</h4>
                          <select class="custome-select border-0 pr-3">
                              <option selected="">Last 7 Days</option>
                              <option value="0">Today</option>
                              <option value="0">Last 7 days</option>
                              <option value="0">Month</option>
                          </select>
                      </div>
                  </div>
                  <app-product-chart></app-product-chart>
              </div>
          </div>
          <div class="col-xl-3 col-ml-3 col-md-6 mt-5">
              <div class="single-report">
                  <div class="s-sale-inner pt--30 mb-3">
                      <div class="s-report-title d-flex justify-content-between">
                          <h4 class="header-title mb-0">Gross Profit</h4>
                          <select class="custome-select border-0 pr-3">
                              <option selected="">Last 7 Days</option>
                              <option value="0">Today</option>
                              <option value="1">Last 7 Days</option>
                              <option value="2">Last Month</option>
                          </select>
                      </div>
                  </div>
                  <canvas id="coin_sales5" height="100"></canvas>
              </div>
          </div>
          <div class="col-xl-3 col-ml-3 col-md-6  mt-5">
              <div class="single-report">
                  <div class="s-sale-inner pt--30 mb-3">
                      <div class="s-report-title d-flex justify-content-between">
                          <h4 class="header-title mb-0">Orders</h4>
                          <select class="custome-select border-0 pr-3">
                              <option selected="">Last 7 Days</option>
                              <option value="0">Last 7 Days</option>
                          </select>
                      </div>
                  </div>
                  <canvas id="coin_sales6" height="100"></canvas>
              </div>
          </div>
          <div class="col-xl-3 col-ml-3 col-md-6 mt-5">
              <div class="single-report">
                  <div class="s-sale-inner pt--30 mb-3">
                      <div class="s-report-title d-flex justify-content-between">
                          <h4 class="header-title mb-0">New Coustomers</h4>
                          <select class="custome-select border-0 pr-3">
                              <option selected="">Last 7 Days</option>
                              <option value="0">Last 7 Days</option>
                          </select>
                      </div>
                  </div>
                  <canvas id="coin_sales7" height="100"></canvas>
              </div>
          </div>
      </div>
  </div>
  <!-- sales report area end -->
  <!-- visitor graph area start -->
  <div class="card mt-5">
      <div class="card-body">
          <div class="d-flex justify-content-between mb-5">
              <h4 class="header-title mb-0">Visitor Graph</h4>
              <select class="custome-select border-0 pr-3">
                  <option selected="">Last 7 Days</option>
                  <option value="0">Last 7 Days</option>
              </select>
          </div>
          <div id="visitor_graph1"></div>
      </div>
  </div>
  <!-- visitor graph area end -->
  <!-- order list area start -->
 <app-order-list></app-order-list>
  <!-- order list area end -->
  <div class="row">
      <!-- product sold area start -->
      <div class="col-xl-8 col-lg-7 col-md-12 mt-5">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between mb-4">
                      <h4 class="header-title mb-0">Product Slod</h4>
                      <select class="custome-select border-0 pr-3">
                          <option selected="">Today</option>
                          <option value="0">Last 7 Days</option>
                      </select>
                  </div>
                  <div class="table-responsive">
                      <table class="dbkit-table">
                          <tbody>
                            <tr>
                                <td>Product Name</td>
                                <td>Revenu</td>
                                <td>Sold</td>
                                <td>Discount</td>
                            </tr>
                            <tr *ngFor="let product of productSold | paginate: { id:'second', itemsPerPage: 3, currentPage: page2 }">
                                <td style="text-align:justify">{{product.orderNo}}</td>
                                <td style="text-align:justify">{{product.customerID}}</td>
                                <td style="text-align:justify">{{product.pmethod}}</td>
                                <td style="text-align:justify">{{product.gTotal}}</td>
                                <td>
                                    <a class="btn text-info"><i class="fa fa-info-circle"></i></a>
                                </td>
                            </tr>
                            <div class="has-text-centered pull-right">
                                    <pagination-controls (pageChange)="page2 = $event" id="second"></pagination-controls>
                                </div>  
                          </tbody>
                      </table>
                  </div>
                  <div class="pagination_area pull-right mt-5">
                      <ul>
                          <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <!-- product sold area end -->
      <!-- team member area start -->
      <div class="col-xl-4 col-lg-5 col-md-12 mt-5">
          <app-team-member></app-team-member>
      </div>
      <!-- team member area end -->
  </div>
</div>