<div style="display: flex">

  <div class="card" style="width: 50%;">
    <div style="display: flex; padding: 20px 30px;">
      <div>
        <div style="font-size: 20px;font-family: emoji;">7456</div>
        <div style="font-size: 20px;font-family: emoji;">Orders</div>
      </div>
      <div class="top-div">
        <canvas #orderC id="orderC"></canvas>
      </div>
    </div>
  </div>
  <div class="card" style="width: 50%;">
    <div style="display: flex; padding: 20px 30px;">

      <div>
        <div style="font-size: 20px;font-family: emoji;">7456</div>
        <div style="font-size: 20px;font-family: emoji;">Revenue</div>
      </div>
      <div class="top-div">
        <canvas #revenueC id="revenueC"></canvas>
      </div>
    </div>
  </div>
  <div class="card" style="width: 50%;">
    <div style="display: flex; padding: 20px 30px;">

      <div>
        <div style="font-size: 20px;font-family: emoji;">7456</div>
        <div style="font-size: 20px;font-family: emoji;">Avg Order value</div>
      </div>
      <div class="top-div">
        <canvas #avgOrderValueC id="avgOrderValueC"></canvas>
      </div>
    </div>
  </div>
  <div class="card" style="width: 50%;">
    <div style="display: flex; padding: 20px 30px;">
      <div>
        <div style="font-size: 20px;font-family: emoji;">7456</div>
        <div style="font-size: 20px;font-family: emoji;">Unique Visitors</div>
      </div>
      <div class="top-div">
        <canvas #uniqueVisitorsC id="uniqueVisitorsC"></canvas>
      </div>
    </div>
  </div>
</div>








<div style="display: flex;">
  <div class="card" style="width: 50%;">
    <div style="display: flex; padding: 20px 30px;">
      <div style="font-size: 20px;font-family: emoji;">Order Amount Per Day </div>
      <div style="padding-left: 50%;">
        <ul>
          <li (click)="getOrderAmountBarChart(1)">Today</li>
          <li (click)="getOrderAmountBarChart(2)">Week</li>
          <li (click)="getOrderAmountBarChart(3)">Month</li>
          <li (click)="getOrderAmountBarChart(4)">Year</li>
        </ul>
      </div>
    </div>
    <div>
      <canvas #orderamountperdayC id="orderamountperdayC"></canvas>
    </div>
  </div>
  <div class="card" style="width: 50%;">
    <div style="display: flex; padding: 20px 30px;">
      <div style="font-size: 20px;font-family: emoji; padding-right: 400px">Products on stock alert </div>
      <select name="PMethod" #PMethod="ngModel" [(ngModel)]="selectRange" 
      style="width: 20%" class="form-control"  (change)="changeItemStatus($event)">
        <option value="10" selected="selected">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div>
      <canvas #productonstockalertC id="productonstockalertC" style="float: right;"></canvas>
    </div>
  </div>
</div>
<div style="display: flex;">
  <div class="card" style="width: 50%;">
    <div style="display: flex; padding: 20px 30px;">
      <div style="font-size: 20px;font-family: emoji;">Products Sold </div>
      <div style="padding-left: 50%;">
        <ul>
          <li (click)="getProductSold(1)">Today</li>
          <li (click)="getProductSold(2)">Week</li>
          <li (click)="getProductSold(3)">Month</li>
          <li (click)="getProductSold(4)">Year</li>
        </ul>
      </div>
    </div>
    <div>
      <canvas #productsoldperdayC id="productsoldperdayC" style="float: right;"></canvas>
    </div>
  </div>
  <div class="card" style="width: 50%;">
    <div style="display: flex; padding: 20px 30px;">
      <div style="font-size: 20px;font-family: emoji;">Sell And Purchase </div>
      <div style="padding-left: 50%;">
        <ul>
          <li (click)="getSellPurchase(1)">Today</li>
          <li (click)="getSellPurchase(2)">Week</li>
          <li (click)="getSellPurchase(3)">Month</li>
          <li (click)="getSellPurchase(4)">Year</li>
        </ul>
      </div>
    </div>
    <div>
      <canvas #sellPurchaseDonut id="sellPurchaseDonut" style="display: block;height: 450px; width: 700px;"></canvas>
    </div>
  </div>
</div>