chart {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    padding: 10px;
    font-family: emoji;
  }

  .top-div {
    border: 1px solid aqua;
    border-radius: 5px;
    margin: 5px;
    background-color: black;
  }